.top-section {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #F0F0F5;
}

.title {
  font-family: "Grenze Gotisch";
  color: #1E1E23;
  font-weight: 300;
  font-size: 56px;
  margin-top: 88px;

  @media only screen and (min-width: 800px) {
    margin-top: 0px;
  }
}

.game-intro-container {
  overflow: hidden;
  height: 100%;
  width: 232px;
  align-items: center;
  display: flex;

  @media only screen and (min-width: 800px) {
    overflow: auto;
    width: 100%;
  }
}

.game-intro-cards {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  display: flex;
  width: 100%;
}

.game-intro-card {
  flex-shrink: 0;
  width: 232px;
  text-align: center;
}

.card-description {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-size: 14px;
  color: #1E1E23;
}

.breadcrumb {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 64px;
  margin-bottom: 16px;
}

.circle-breadcrumb {
  box-sizing: border-box;
  height: 8px;
  width: 8px;
  background-color: #C3C4C8;
  border-radius: 8px;
  margin: 4px;
  cursor: pointer;
}

.filled-breadcrumb {
  background-color: #737378;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 144px;
}